html {
    scroll-behavior: smooth;
}


/***********************NAVBAR*********************/
.container-fluid{
    display: flex;
    justify-content: space-between;
}

.navbar-brand img {
    width: 110px;
    height: 58px;
    margin-left: 50px;
    margin-top: 75px;
}

.navbar-nav {
    margin-left: 330px;
}

.navbar-nav a.nav-link {
    color: #000000;
    text-decoration: none;
    position: relative;
}

.navbar-nav a.nav-link::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #D0A933;
    transition: width 0.3s ease;
}

.navbar-nav a.nav-link:hover::after {
    width: 100%;
}

.navbar-nav .nav-link {
    margin-right: 100px;
    margin-top: 70px;
    color: #222222;
    font-family: 'Abhaya Libre ExtraBold';
    font-style: normal;
    font-weight: 540;
    font-size: 25px;
    line-height: 22px;
}

.Login {
    margin-right: 65px;
    margin-top: 78px;
    background: #FFFFFF;
    border: 1px solid #cacaca;
    border-radius: 24px;
    width: 90px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.Login .fa-bars {
    margin-right: 15px; 
}

.profile-image img {
    border-radius: 50%; 
    width: 30px; 
    height: 30px; 
    object-fit: cover;
    overflow: hidden;
}

.container-fluid {
    position: fixed;
    z-index: 9999;
    height: 150px;
    background-color:rgb(249, 248, 233);
    opacity: 0.98;
    border: 0.1px solid whitesmoke;
}


/***********************HOME PAGE*********************/

.body{
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #ffffff ;
    padding-top: 150px; 
    padding-bottom: 80px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.body h1 {
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 60px;
}

.body h3{
    justify-content: center;
    text-align: center;
    margin-top: 70px;
    color: white;
    font-size: 35px;
}

.body h4{
    color: #8e8e8e;
    font-size: 22px;
    font-weight: lighter;
    padding-top: 26px;
    cursor: pointer;

}

.first{
    color: white;
}

.timer h4.clicked {
    color: #ffffff;

}

/*.round-time-bar {
    overflow: hidden;
    width: 100%;
}
.round-time-bar div {
    height: 5px;
    animation: roundtime calc(5s) steps(5) forwards;
    transform-origin: left center;
    background: linear-gradient(to bottom, #ffeaaa, white);
}

.round-time-bar[data-style="smooth"] div {
    animation: roundtime calc(5s) linear forwards;
}

@keyframes roundtime {
    to {
      transform: scaleX(0);
    }
}*/

.timer{
    display: block;
}
.timers{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    width: 80%;
    margin-top: 100px;
}



/*********SEARCH BAR************/

.search-field{
    width: 150px;
    margin-right: 10px;
    height: 30px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    outline: none;
}

.search-btn{
    width: 100px;
    height: 30px;
    background-color: #D0A933;
    border-radius: 25px;
    border: none;
    outline: none;
    color: #fff;
}

.search-btn:hover{
    background-color: #f9c324;
}

.search-box{
    background-color: #dedede;
    opacity: 0.89;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 1px;
    margin-bottom: 80px;
    width: 52%;
    border-radius: 15px;
    margin-left: 360px;
}
  
/***********************CONTACT US*********************/

.first_col {
    background-color: white;
    height: 550px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
    width: 550px;
    left: 155px;
    top: 160px;
    border-radius: 20px;
}

.img-fluid {
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.row-last {
    width: 65% !important;
    position: relative !important;
    left: 380px;
    top: 30px;
    height: 50px;
    padding-bottom: 125px !important;
    background-color: #D0A933;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    align-items: center;

}

.col-body{
    margin-top: 15px;
    align-items: center;
}

.col-body span {
    font-size: 20px;
    margin-right: 5px;
}

.btn-primary {
    background-color: #D0A933;
    border: none;
    color: white;

}

.btn-primary:hover {
    background-color: #ebbc2d !important;
    
}

.px-2 img{
    width: 20%;
    margin-top: -10px;
}

.form-control {
    height: 45px;
    background: #fff;
    font-size: 14px;
    border-radius: 2px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #000000;
}
.form-control[type=text]:focus {
border: 2px solid #555;
}

@media only screen and (max-width: 600px) {
    .first_col {
        position: initial;
        left: 0 !important;
    }

    .sec_col {
        order: 1 !important;
    }

    .row-last {
        left: 0 !important;
        width: 100% !important;
        height: 280px !important;
        top: 0 !important;
    }

    .search-box{
        margin-left:115px;
    }

    .search-field{
        margin-top: 10px;
    }
    .search-btn{
        margin-top: 10px;
    }

    .navbar-brand img {
        width: 65px;
        height: 40px;
        margin-left: 10px;
        margin-top: 75px;
    }

    .body h1 {
        font-size: 40px;
    }
    
    .body h3{
        margin-top: 70px;
        font-size: 30px;
    }
    
    .body h4{
        font-size: 18px;
    
    }

    .timers{
        margin-left: 35px;
    }

    .timer{
        margin-right: 5px;
    }

    .bars{
        margin-left: 10px;
        font-size: 12px;
        margin-right: -5px;
    }

    .Login {
        margin-right: 30px;
        width: 75px;
    }




}